* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --primary: hsl(217.2 91.2% 59.8%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);

  border-radius: 999.9rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background: var(--background);
}

body * {
  font-size: 1.6rem;

  color: var(--foreground);
}

#app {
  width: 100%;
  max-width: 128rem;
  min-height: 100vh;
  margin: auto;
  padding: 5.6rem 3rem 0;
}

header img {
  width: 19.2rem;
}

main #about-section h2 {
  font-size: 3.2rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

main #about-section p {
  font-size: 1.8rem;

  line-height: 2.4rem;

  text-align: justify;
}
